
BROKER=localhost

SUPER_USERNAME=super
SUPER_PASSWORD=spwd

B2B_USERNAME=B2B/community-api/<YOUR_COMMUNITY_USERNAME>
B2B_PASSWORD=<YOUR_COMMUNITY_PASSWD>
B2B_OPERATORID=actility-tpe-ope
B2B_SUBSCRIBERID=<YOUR_COMMUNITY_SUBSCRIBER_ID e.g.: 100001234>

B2C_USERNAME=B2C/le-lab/<YOUR_MOBILE_APP_USERNAME>
B2C_PASSWORD=<YOUR_MOBILE_APP_PASSWD>
B2C_OPERATORID=dev-ope
B2C_SUBSCRIBERID=<YOUR_MOBILE_APP_SUBSCRIBER_ID e.g.: 100001234>
B2C_REALM=le-lab
B2C_USERID==<YOUR_MOBILE_APP_USER_ID e.g.: dc76a497-f97b-418e-a621-5ea2ecd0c74f>