
BROKER=localhost

SUPER_USERNAME=****
SUPER_PASSWORD=****

B2B_USERNAME=B2B/community-api/****
B2B_PASSWORD=****
B2B_OPERATORID=actility-tpe-ope
B2B_SUBSCRIBERID=****

B2C_USER=B2C/le-lab/****
B2C_PASSWD=****
B2C_OPERATORID=dev-ope
B2C_SUBSCRIBERID=****
B2C_REALM=le-lab
B2C_USERID=****