# These variables come from the "docker-compose.yml" file

HTTP_AUTH_PORT=3000

MQTT_SUPER_USER=super
MQTT_SUPER_PASSWD=spwd

DXADMINAPI_GRANT_TYPE=client_credentials
DXADMINAPI_URL=https://dx-api.thingpark.io/admin/latest/api

KEYCLOAK_GRANT_TYPE=password
KEYCLOAK_SCOPE=openid
KEYCLOAK_CLIENT_ID=tpx-le-nit
KEYCLOAK_AUTH_URL=https://le-lab.preview.thingpark.com/auth


# These variables are test case specific

MQTT_B2B_USER='B2B/community-api/<YOUR_COMMUNITY_USERNAME>'
MQTT_B2B_PASSWD='<YOUR_COMMUNITY_PASSWD>'

MQTT_B2C_USER='<YOUR_KEYCLOAK_USERNAME>'
MQTT_B2C_PASSWD='B2B/le-lab/<YOUR_KEYCLOAK_PASSWD>'
