# These variables come from the "docker-compose.yml" file

HTTP_AUTH_PORT=3000

MQTT_SUPER_USER=super
MQTT_SUPER_PASSWD=spwd

DXADMINAPI_GRANT_TYPE=client_credentials
DXADMINAPI_URL=https://dx-api.thingpark.io/admin/latest/api

KEYCLOAK_GRANT_TYPE=password
KEYCLOAK_SCOPE=openid
KEYCLOAK_CLIENT_ID=tpx-le-nit
KEYCLOAK_AUTH_URL=https://le-lab.preview.thingpark.com/auth


# These variables are test case specific

B2B_USERNAME=B2B/community-api/<YOUR_COMMUNITY_USERNAME>
B2B_PASSWORD=<YOUR_COMMUNITY_PASSWD>
B2B_OPERATORID=actility-tpe-ope
B2B_SUBSCRIBERID=<YOUR_COMMUNITY_SUBSCRIBER_ID e.g.: 100001234>

B2C_USERNAME=B2C/le-lab/<YOUR_MOBILE_APP_USERNAME>
B2C_PASSWORD=<YOUR_MOBILE_APP_PASSWD>
B2C_OPERATORID=dev-ope
B2C_SUBSCRIBERID=<YOUR_MOBILE_APP_SUBSCRIBER_ID e.g.: 100001234>
B2C_REALM=le-lab
B2C_USERID==<YOUR_MOBILE_APP_USER_ID e.g.: dc76a497-f97b-418e-a621-5ea2ecd0c74f>
