# These variables come from the "docker-compose.yml" file

HTTP_AUTH_PORT=3000

MQTT_SUPER_USER=super
MQTT_SUPER_PASSWD=spwd

DXAPI_GRANT_TYPE=client_credentials
DXAPI_TOKEN_REQUEST_URL=https://dx-api.thingpark.io/admin/latest/api/oauth/token

KEYCLOAK_REALM=le-lab
KEYCLOAK_GRANT_TYPE=password
KEYCLOAK_SCOPE=openid
KEYCLOAK_CLIENT_ID=tpx-le-nit
KEYCLOAK_TOKEN_REQUEST_URL=https://le-lab.preview.thingpark.com/auth/realms/le-lab/protocol/openid-connect/token


# These variables are test case specific

MQTT_B2B_USER='<YOUR_COMMUNITY_USERNAME>'
MQTT_B2B_PASSWD='<YOUR_COMMUNITY_PASSWD>'

MQTT_B2C_USER='<YOUR_KEYCLOAK_USERNAME>'
MQTT_B2C_PASSWD='<YOUR_KEYCLOAK_PASSWD>'
